{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="card card-container">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
        <a href="/login" class="register">
            Login
        </a> |
        <a href="/resetting/request" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>
{% endblock fos_user_content %}
