{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card card-container">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'custom-form' } }) }}
            {{ form_widget(form) }}

        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{ 'change_password.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>