{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="card card-container">
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
